.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addForm {
  width: 500px;
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;
}

.watch-input {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
  align-items: start;
}

.form-label {
  font-size: 14px;
  margin: 10px;
}

.form-input {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
  align-items: start;
}


.watch-list {
  width: 500px;
}

.watch {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.watch-name {
  margin-right: 10px;
  align-items: start;
  width: 200px;
}
.watch-time {
  margin-right: 10px;
  align-items: start;
  width: 200px;
}

.watch-zone {
  border: 0px;
  background: white;
  width: 100px;
}

.watch-delete {
  border: 0px;
  background: white;
  width: 70px;
}